<!DOCTYPE html>
<html>
<head>
   <meta name="referrer" content="never">
</head>
<body>
<div id="box"></div>
<img  id="imgload" src="http://static.yfh100.cn/test/1527414966458.jpg?x-oss-process=style/default" alt="">
<canvas id="canvas1"></canvas>
<script>

function getHouseImage(img,wid,hei) {
    var canvas = document.createElement("canvas");
    var canvas1 = document.getElementById("canvas1");
    canvas1.width = wid;
    canvas1.height = hei;
    // var images = new Image();
    // images.src = img
    var images = document.getElementById('imgload')
    // images.setAttribute("crossOrigin",'*');
    // images.onload=function(){
       canvas.width = wid;
       canvas.height = hei;
      var images = document.getElementById('imgload')
       var ctx = canvas.getContext("2d");
       ctx.drawImage(images, 0, 0, images.width, images.height);
       canvas1.getContext("2d").drawImage(canvas,0,0,images.width, images.height)
       // document.getElementById('box').append(canvas1);
       setTimeout(function(){
           console.log(canvas1.toDataURL());
       },5000)
       
    // }
    
}
getHouseImage('http://static.yfh100.cn/test/1527414966458.jpg?x-oss-process=style/default',800,500)
</script>

</body>
</html>