body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1359px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1359px;
  height:58px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12545 {
  position:absolute;
  left:0px;
  top:0px;
  width:1359px;
  height:58px;
}
#u12546 {
  position:absolute;
  left:2px;
  top:21px;
  width:1355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12547 {
  position:absolute;
  left:45px;
  top:17px;
  width:121px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12548 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u12549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12549 {
  position:absolute;
  left:196px;
  top:11px;
  width:36px;
  height:36px;
}
#u12550 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u12551 {
  position:absolute;
  left:206px;
  top:22px;
  width:16px;
  height:14px;
}
#u12552 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:58px;
  background:inherit;
  background-color:rgba(17, 19, 23, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12553 {
  position:absolute;
  left:703px;
  top:0px;
  width:96px;
  height:58px;
}
#u12554 {
  position:absolute;
  left:2px;
  top:21px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12555 {
  position:absolute;
  left:267px;
  top:22px;
  width:14px;
  height:14px;
}
#u12556 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12557 {
  position:absolute;
  left:285px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12558 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12559 {
  position:absolute;
  left:384px;
  top:22px;
  width:14px;
  height:14px;
}
#u12560 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12561 {
  position:absolute;
  left:404px;
  top:22px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12562 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12563 {
  position:absolute;
  left:1020px;
  top:22px;
  width:14px;
  height:14px;
}
#u12564 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12565 {
  position:absolute;
  left:1040px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12566 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12567 {
  position:absolute;
  left:1135px;
  top:22px;
  width:15px;
  height:15px;
}
#u12568 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12569_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12569 {
  position:absolute;
  left:1155px;
  top:22px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12570 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u12571 {
  position:absolute;
  left:1219px;
  top:12px;
  width:37px;
  height:36px;
}
#u12572 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12573 {
  position:absolute;
  left:1266px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12574 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:7px;
}
#u12575 {
  position:absolute;
  left:1329px;
  top:26px;
  width:13px;
  height:7px;
}
#u12576 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12577_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:749px;
  background:inherit;
  background-color:rgba(57, 61, 73, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12577 {
  position:absolute;
  left:0px;
  top:57px;
  width:199px;
  height:749px;
}
#u12578 {
  position:absolute;
  left:2px;
  top:366px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u12579 {
  position:absolute;
  left:61px;
  top:75px;
  width:80px;
  height:80px;
}
#u12580 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1161px;
  height:749px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12581 {
  position:absolute;
  left:198px;
  top:57px;
  width:1161px;
  height:749px;
}
#u12582 {
  position:absolute;
  left:2px;
  top:366px;
  width:1157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12583 {
  position:absolute;
  left:0px;
  top:238px;
  width:198px;
  height:46px;
}
#u12584 {
  position:absolute;
  left:2px;
  top:15px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u12585 {
  position:absolute;
  left:51px;
  top:165px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u12586 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:33px;
  background:inherit;
  background-color:rgba(67, 71, 82, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12587 {
  position:absolute;
  left:11px;
  top:198px;
  width:176px;
  height:33px;
}
#u12588 {
  position:absolute;
  left:2px;
  top:8px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12589 {
  position:absolute;
  left:161px;
  top:207px;
  width:15px;
  height:15px;
}
#u12590 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12591 {
  position:absolute;
  left:29px;
  top:207px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12592 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u12593 {
  position:absolute;
  left:55px;
  top:254px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u12594 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u12595 {
  position:absolute;
  left:25px;
  top:255px;
  width:14px;
  height:13px;
}
#u12596 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12597 {
  position:absolute;
  left:703px;
  top:51px;
  width:96px;
  height:6px;
}
#u12598 {
  position:absolute;
  left:2px;
  top:-5px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1157px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12599 {
  position:absolute;
  left:202px;
  top:106px;
  width:1157px;
  height:700px;
}
#u12600 {
  position:absolute;
  left:2px;
  top:342px;
  width:1153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u12601 {
  position:absolute;
  left:230px;
  top:75px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u12602 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u12603 {
  position:absolute;
  left:209px;
  top:76px;
  width:14px;
  height:13px;
  color:#1E1E1E;
}
#u12604 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12605 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12606 {
  position:absolute;
  left:292px;
  top:60px;
  width:137px;
  height:46px;
}
#u12607 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12608 {
  position:absolute;
  left:296px;
  top:60px;
  width:133px;
  height:46px;
}
#u12609 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12610 {
  position:absolute;
  left:311px;
  top:76px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12611 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u12612 {
  position:absolute;
  left:406px;
  top:76px;
  width:13px;
  height:14px;
}
#u12613 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12614 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:46px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12615 {
  position:absolute;
  left:429px;
  top:60px;
  width:137px;
  height:46px;
}
#u12616 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12617 {
  position:absolute;
  left:433px;
  top:60px;
  width:133px;
  height:46px;
}
#u12618 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12619 {
  position:absolute;
  left:448px;
  top:76px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12620 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u12621 {
  position:absolute;
  left:543px;
  top:76px;
  width:13px;
  height:14px;
}
#u12622 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u12623 {
  position:absolute;
  left:540px;
  top:76px;
  width:13px;
  height:14px;
}
#u12624 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12625 {
  position:absolute;
  left:500px;
  top:22px;
  width:14px;
  height:14px;
}
#u12626 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12627 {
  position:absolute;
  left:520px;
  top:22px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12628 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12629 {
  position:absolute;
  left:617px;
  top:22px;
  width:14px;
  height:14px;
}
#u12630 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12631 {
  position:absolute;
  left:637px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12632 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12633 {
  position:absolute;
  left:717px;
  top:22px;
  width:14px;
  height:14px;
}
#u12634 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12635 {
  position:absolute;
  left:737px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12636 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12637 {
  position:absolute;
  left:204px;
  top:760px;
  width:1155px;
  height:46px;
}
#u12638 {
  position:absolute;
  left:2px;
  top:15px;
  width:1151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:22px;
}
#u12639 {
  position:absolute;
  left:611px;
  top:772px;
  width:341px;
  height:22px;
}
#u12640 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u12641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:70px;
  background:inherit;
  background-color:rgba(57, 61, 73, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12641 {
  position:absolute;
  left:213px;
  top:116px;
  width:1129px;
  height:70px;
}
#u12642 {
  position:absolute;
  left:2px;
  top:27px;
  width:1125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:70px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12643 {
  position:absolute;
  left:220px;
  top:116px;
  width:1120px;
  height:70px;
}
#u12644 {
  position:absolute;
  left:2px;
  top:27px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12645 {
  position:absolute;
  left:244px;
  top:133px;
  width:132px;
  height:37px;
}
#u12645_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u12645_input:disabled {
  color:grayText;
}
#u12646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12646 {
  position:absolute;
  left:487px;
  top:133px;
  width:84px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12647 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u12648 {
  position:absolute;
  left:220px;
  top:216px;
  width:1117px;
  height:362px;
}
#u12649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:71px;
}
#u12649 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:71px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12650 {
  position:absolute;
  left:2px;
  top:28px;
  width:78px;
  word-wrap:break-word;
}
#u12651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:71px;
}
#u12651 {
  position:absolute;
  left:82px;
  top:0px;
  width:376px;
  height:71px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12652 {
  position:absolute;
  left:2px;
  top:28px;
  width:372px;
  word-wrap:break-word;
}
#u12653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:71px;
}
#u12653 {
  position:absolute;
  left:458px;
  top:0px;
  width:404px;
  height:71px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12654 {
  position:absolute;
  left:2px;
  top:28px;
  width:400px;
  word-wrap:break-word;
}
#u12655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:71px;
}
#u12655 {
  position:absolute;
  left:862px;
  top:0px;
  width:250px;
  height:71px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12656 {
  position:absolute;
  left:2px;
  top:28px;
  width:246px;
  word-wrap:break-word;
}
#u12657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:68px;
}
#u12657 {
  position:absolute;
  left:0px;
  top:71px;
  width:82px;
  height:68px;
}
#u12658 {
  position:absolute;
  left:2px;
  top:26px;
  width:78px;
  word-wrap:break-word;
}
#u12659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:68px;
}
#u12659 {
  position:absolute;
  left:82px;
  top:71px;
  width:376px;
  height:68px;
}
#u12660 {
  position:absolute;
  left:2px;
  top:26px;
  width:372px;
  word-wrap:break-word;
}
#u12661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:68px;
}
#u12661 {
  position:absolute;
  left:458px;
  top:71px;
  width:404px;
  height:68px;
}
#u12662 {
  position:absolute;
  left:2px;
  top:26px;
  width:400px;
  word-wrap:break-word;
}
#u12663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:68px;
}
#u12663 {
  position:absolute;
  left:862px;
  top:71px;
  width:250px;
  height:68px;
}
#u12664 {
  position:absolute;
  left:2px;
  top:26px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:70px;
}
#u12665 {
  position:absolute;
  left:0px;
  top:139px;
  width:82px;
  height:70px;
}
#u12666 {
  position:absolute;
  left:2px;
  top:27px;
  width:78px;
  word-wrap:break-word;
}
#u12667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:70px;
}
#u12667 {
  position:absolute;
  left:82px;
  top:139px;
  width:376px;
  height:70px;
}
#u12668 {
  position:absolute;
  left:2px;
  top:27px;
  width:372px;
  word-wrap:break-word;
}
#u12669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:70px;
}
#u12669 {
  position:absolute;
  left:458px;
  top:139px;
  width:404px;
  height:70px;
}
#u12670 {
  position:absolute;
  left:2px;
  top:27px;
  width:400px;
  word-wrap:break-word;
}
#u12671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:70px;
}
#u12671 {
  position:absolute;
  left:862px;
  top:139px;
  width:250px;
  height:70px;
}
#u12672 {
  position:absolute;
  left:2px;
  top:27px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:74px;
}
#u12673 {
  position:absolute;
  left:0px;
  top:209px;
  width:82px;
  height:74px;
}
#u12674 {
  position:absolute;
  left:2px;
  top:29px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:74px;
}
#u12675 {
  position:absolute;
  left:82px;
  top:209px;
  width:376px;
  height:74px;
}
#u12676 {
  position:absolute;
  left:2px;
  top:29px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:74px;
}
#u12677 {
  position:absolute;
  left:458px;
  top:209px;
  width:404px;
  height:74px;
}
#u12678 {
  position:absolute;
  left:2px;
  top:29px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:74px;
}
#u12679 {
  position:absolute;
  left:862px;
  top:209px;
  width:250px;
  height:74px;
}
#u12680 {
  position:absolute;
  left:2px;
  top:29px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:74px;
}
#u12681 {
  position:absolute;
  left:0px;
  top:283px;
  width:82px;
  height:74px;
}
#u12682 {
  position:absolute;
  left:2px;
  top:29px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:74px;
}
#u12683 {
  position:absolute;
  left:82px;
  top:283px;
  width:376px;
  height:74px;
}
#u12684 {
  position:absolute;
  left:2px;
  top:29px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:74px;
}
#u12685 {
  position:absolute;
  left:458px;
  top:283px;
  width:404px;
  height:74px;
}
#u12686 {
  position:absolute;
  left:2px;
  top:29px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:74px;
}
#u12687 {
  position:absolute;
  left:862px;
  top:283px;
  width:250px;
  height:74px;
}
#u12688 {
  position:absolute;
  left:2px;
  top:29px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12689 {
  position:absolute;
  left:1136px;
  top:304px;
  width:69px;
  height:40px;
  color:#FFFFFF;
}
#u12690 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u12691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:-webkit-linear-gradient(232deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(0, 153, 153, 1) 100%, rgba(0, 153, 153, 1) 100%);
  background:-moz-linear-gradient(218deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(0, 153, 153, 1) 100%, rgba(0, 153, 153, 1) 100%);
  background:linear-gradient(218deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(0, 153, 153, 1) 100%, rgba(0, 153, 153, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12691 {
  position:absolute;
  left:386px;
  top:133px;
  width:84px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12692 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u12693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12693 {
  position:absolute;
  left:1219px;
  top:304px;
  width:69px;
  height:40px;
  color:#FFFFFF;
}
#u12694 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u12695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12695 {
  position:absolute;
  left:1136px;
  top:372px;
  width:69px;
  height:40px;
  color:#FFFFFF;
}
#u12696 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u12697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12697 {
  position:absolute;
  left:1219px;
  top:372px;
  width:69px;
  height:40px;
  color:#FFFFFF;
}
#u12698 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u12699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:inherit;
  background-color:rgba(153, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12699 {
  position:absolute;
  left:590px;
  top:133px;
  width:84px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12700 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u12701 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12702 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12703 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1157px;
  height:656px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12704 {
  position:absolute;
  left:202px;
  top:106px;
  width:1157px;
  height:656px;
}
#u12705 {
  position:absolute;
  left:2px;
  top:320px;
  width:1153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1157px;
  height:55px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12706 {
  position:absolute;
  left:202px;
  top:106px;
  width:1157px;
  height:55px;
}
#u12707 {
  position:absolute;
  left:2px;
  top:20px;
  width:1153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u12708 {
  position:absolute;
  left:224px;
  top:126px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
}
#u12709 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12710 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:right;
}
#u12711 {
  position:absolute;
  left:216px;
  top:207px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:right;
}
#u12712 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12713 {
  position:absolute;
  left:322px;
  top:193px;
  width:320px;
  height:44px;
}
#u12713_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u12714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12714 {
  position:absolute;
  left:322px;
  top:327px;
  width:140px;
  height:40px;
}
#u12715 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u12716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u12716 {
  position:absolute;
  left:502px;
  top:327px;
  width:140px;
  height:40px;
  color:#333333;
}
#u12717 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u12718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u12718 {
  position:absolute;
  left:1327px;
  top:127px;
  width:13px;
  height:14px;
}
#u12719 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12720 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12721 {
  position:absolute;
  left:25px;
  top:298px;
  width:14px;
  height:14px;
}
#u12722 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12723 {
  position:absolute;
  left:43px;
  top:298px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12724 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12725 {
  position:absolute;
  left:25px;
  top:330px;
  width:14px;
  height:14px;
}
#u12726 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12727 {
  position:absolute;
  left:43px;
  top:330px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12728 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12729 {
  position:absolute;
  left:25px;
  top:360px;
  width:14px;
  height:14px;
}
#u12730 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12731 {
  position:absolute;
  left:43px;
  top:360px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12732 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12733 {
  position:absolute;
  left:25px;
  top:390px;
  width:14px;
  height:14px;
}
#u12734 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12735 {
  position:absolute;
  left:43px;
  top:390px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12736 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12737 {
  position:absolute;
  left:25px;
  top:420px;
  width:14px;
  height:14px;
}
#u12738 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12739 {
  position:absolute;
  left:43px;
  top:420px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12740 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12741 {
  position:absolute;
  left:25px;
  top:449px;
  width:14px;
  height:14px;
}
#u12742 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12743 {
  position:absolute;
  left:43px;
  top:449px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12744 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
