body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1359px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1359px;
  height:58px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12154 {
  position:absolute;
  left:0px;
  top:0px;
  width:1359px;
  height:58px;
}
#u12155 {
  position:absolute;
  left:2px;
  top:21px;
  width:1355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12156 {
  position:absolute;
  left:45px;
  top:17px;
  width:121px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12157 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u12158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12158 {
  position:absolute;
  left:196px;
  top:11px;
  width:36px;
  height:36px;
}
#u12159 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u12160 {
  position:absolute;
  left:206px;
  top:22px;
  width:16px;
  height:14px;
}
#u12161 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:58px;
  background:inherit;
  background-color:rgba(17, 19, 23, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12162 {
  position:absolute;
  left:703px;
  top:0px;
  width:96px;
  height:58px;
}
#u12163 {
  position:absolute;
  left:2px;
  top:21px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12164 {
  position:absolute;
  left:267px;
  top:22px;
  width:14px;
  height:14px;
}
#u12165 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12166 {
  position:absolute;
  left:285px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12167 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12168 {
  position:absolute;
  left:384px;
  top:22px;
  width:14px;
  height:14px;
}
#u12169 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12170 {
  position:absolute;
  left:404px;
  top:22px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12171 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12172 {
  position:absolute;
  left:1020px;
  top:22px;
  width:14px;
  height:14px;
}
#u12173 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12174 {
  position:absolute;
  left:1040px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12175 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12176 {
  position:absolute;
  left:1135px;
  top:22px;
  width:15px;
  height:15px;
}
#u12177 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12178 {
  position:absolute;
  left:1155px;
  top:22px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12179 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u12180 {
  position:absolute;
  left:1219px;
  top:12px;
  width:37px;
  height:36px;
}
#u12181 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12182 {
  position:absolute;
  left:1266px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12183 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:7px;
}
#u12184 {
  position:absolute;
  left:1329px;
  top:26px;
  width:13px;
  height:7px;
}
#u12185 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:749px;
  background:inherit;
  background-color:rgba(57, 61, 73, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12186 {
  position:absolute;
  left:0px;
  top:57px;
  width:199px;
  height:749px;
}
#u12187 {
  position:absolute;
  left:2px;
  top:366px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u12188 {
  position:absolute;
  left:61px;
  top:75px;
  width:80px;
  height:80px;
}
#u12189 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1161px;
  height:749px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12190 {
  position:absolute;
  left:198px;
  top:57px;
  width:1161px;
  height:749px;
}
#u12191 {
  position:absolute;
  left:2px;
  top:366px;
  width:1157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12192 {
  position:absolute;
  left:0px;
  top:238px;
  width:198px;
  height:46px;
}
#u12193 {
  position:absolute;
  left:2px;
  top:15px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u12194 {
  position:absolute;
  left:51px;
  top:165px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u12195 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:33px;
  background:inherit;
  background-color:rgba(67, 71, 82, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12196 {
  position:absolute;
  left:11px;
  top:198px;
  width:176px;
  height:33px;
}
#u12197 {
  position:absolute;
  left:2px;
  top:8px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12198 {
  position:absolute;
  left:161px;
  top:207px;
  width:15px;
  height:15px;
}
#u12199 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12200 {
  position:absolute;
  left:29px;
  top:207px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12201 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u12202 {
  position:absolute;
  left:55px;
  top:254px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u12203 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u12204 {
  position:absolute;
  left:25px;
  top:255px;
  width:14px;
  height:13px;
}
#u12205 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12206 {
  position:absolute;
  left:703px;
  top:51px;
  width:96px;
  height:6px;
}
#u12207 {
  position:absolute;
  left:2px;
  top:-5px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1157px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12208 {
  position:absolute;
  left:202px;
  top:106px;
  width:1157px;
  height:700px;
}
#u12209 {
  position:absolute;
  left:2px;
  top:342px;
  width:1153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u12210 {
  position:absolute;
  left:230px;
  top:75px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u12211 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u12212 {
  position:absolute;
  left:209px;
  top:76px;
  width:14px;
  height:13px;
  color:#1E1E1E;
}
#u12213 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12214 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12215 {
  position:absolute;
  left:292px;
  top:60px;
  width:137px;
  height:46px;
}
#u12216 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12217 {
  position:absolute;
  left:296px;
  top:60px;
  width:133px;
  height:46px;
}
#u12218 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12219 {
  position:absolute;
  left:311px;
  top:76px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12220 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u12221 {
  position:absolute;
  left:406px;
  top:76px;
  width:13px;
  height:14px;
}
#u12222 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:46px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12224 {
  position:absolute;
  left:429px;
  top:60px;
  width:137px;
  height:46px;
}
#u12225 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12226 {
  position:absolute;
  left:433px;
  top:60px;
  width:133px;
  height:46px;
}
#u12227 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12228 {
  position:absolute;
  left:448px;
  top:76px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12229 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u12230 {
  position:absolute;
  left:543px;
  top:76px;
  width:13px;
  height:14px;
}
#u12231 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u12232 {
  position:absolute;
  left:540px;
  top:76px;
  width:13px;
  height:14px;
}
#u12233 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12234 {
  position:absolute;
  left:500px;
  top:22px;
  width:14px;
  height:14px;
}
#u12235 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12236 {
  position:absolute;
  left:520px;
  top:22px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12237 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12238 {
  position:absolute;
  left:617px;
  top:22px;
  width:14px;
  height:14px;
}
#u12239 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12240 {
  position:absolute;
  left:637px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12241 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12242 {
  position:absolute;
  left:717px;
  top:22px;
  width:14px;
  height:14px;
}
#u12243 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12244 {
  position:absolute;
  left:737px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12245 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12246 {
  position:absolute;
  left:204px;
  top:760px;
  width:1155px;
  height:46px;
}
#u12247 {
  position:absolute;
  left:2px;
  top:15px;
  width:1151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:22px;
}
#u12248 {
  position:absolute;
  left:611px;
  top:772px;
  width:341px;
  height:22px;
}
#u12249 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u12250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:70px;
  background:inherit;
  background-color:rgba(57, 61, 73, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12250 {
  position:absolute;
  left:213px;
  top:116px;
  width:1129px;
  height:70px;
}
#u12251 {
  position:absolute;
  left:2px;
  top:27px;
  width:1125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:70px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12252 {
  position:absolute;
  left:220px;
  top:116px;
  width:1120px;
  height:70px;
}
#u12253 {
  position:absolute;
  left:2px;
  top:27px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:37px;
  background:-webkit-linear-gradient(232deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(0, 153, 153, 1) 100%, rgba(0, 153, 153, 1) 100%);
  background:-moz-linear-gradient(218deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(0, 153, 153, 1) 100%, rgba(0, 153, 153, 1) 100%);
  background:linear-gradient(218deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(0, 153, 153, 1) 100%, rgba(0, 153, 153, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12254 {
  position:absolute;
  left:249px;
  top:133px;
  width:135px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12255 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u12256 {
  position:absolute;
  left:220px;
  top:216px;
  width:1100px;
  height:362px;
}
#u12257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:71px;
}
#u12257 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:71px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12258 {
  position:absolute;
  left:2px;
  top:28px;
  width:123px;
  word-wrap:break-word;
}
#u12259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:71px;
}
#u12259 {
  position:absolute;
  left:127px;
  top:0px;
  width:581px;
  height:71px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12260 {
  position:absolute;
  left:2px;
  top:28px;
  width:577px;
  word-wrap:break-word;
}
#u12261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:71px;
}
#u12261 {
  position:absolute;
  left:708px;
  top:0px;
  width:387px;
  height:71px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12262 {
  position:absolute;
  left:2px;
  top:28px;
  width:383px;
  word-wrap:break-word;
}
#u12263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:68px;
}
#u12263 {
  position:absolute;
  left:0px;
  top:71px;
  width:127px;
  height:68px;
}
#u12264 {
  position:absolute;
  left:2px;
  top:26px;
  width:123px;
  word-wrap:break-word;
}
#u12265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:68px;
}
#u12265 {
  position:absolute;
  left:127px;
  top:71px;
  width:581px;
  height:68px;
}
#u12266 {
  position:absolute;
  left:2px;
  top:26px;
  width:577px;
  word-wrap:break-word;
}
#u12267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:68px;
}
#u12267 {
  position:absolute;
  left:708px;
  top:71px;
  width:387px;
  height:68px;
}
#u12268 {
  position:absolute;
  left:2px;
  top:26px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:70px;
}
#u12269 {
  position:absolute;
  left:0px;
  top:139px;
  width:127px;
  height:70px;
}
#u12270 {
  position:absolute;
  left:2px;
  top:27px;
  width:123px;
  word-wrap:break-word;
}
#u12271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:70px;
}
#u12271 {
  position:absolute;
  left:127px;
  top:139px;
  width:581px;
  height:70px;
}
#u12272 {
  position:absolute;
  left:2px;
  top:27px;
  width:577px;
  word-wrap:break-word;
}
#u12273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:70px;
}
#u12273 {
  position:absolute;
  left:708px;
  top:139px;
  width:387px;
  height:70px;
}
#u12274 {
  position:absolute;
  left:2px;
  top:27px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:74px;
}
#u12275 {
  position:absolute;
  left:0px;
  top:209px;
  width:127px;
  height:74px;
}
#u12276 {
  position:absolute;
  left:2px;
  top:29px;
  width:123px;
  word-wrap:break-word;
}
#u12277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:74px;
}
#u12277 {
  position:absolute;
  left:127px;
  top:209px;
  width:581px;
  height:74px;
}
#u12278 {
  position:absolute;
  left:2px;
  top:29px;
  width:577px;
  word-wrap:break-word;
}
#u12279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:74px;
}
#u12279 {
  position:absolute;
  left:708px;
  top:209px;
  width:387px;
  height:74px;
}
#u12280 {
  position:absolute;
  left:2px;
  top:29px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:74px;
}
#u12281 {
  position:absolute;
  left:0px;
  top:283px;
  width:127px;
  height:74px;
}
#u12282 {
  position:absolute;
  left:2px;
  top:29px;
  width:123px;
  word-wrap:break-word;
}
#u12283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:74px;
}
#u12283 {
  position:absolute;
  left:127px;
  top:283px;
  width:581px;
  height:74px;
}
#u12284 {
  position:absolute;
  left:2px;
  top:29px;
  width:577px;
  word-wrap:break-word;
}
#u12285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:74px;
}
#u12285 {
  position:absolute;
  left:708px;
  top:283px;
  width:387px;
  height:74px;
}
#u12286 {
  position:absolute;
  left:2px;
  top:29px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12287 {
  position:absolute;
  left:993px;
  top:304px;
  width:122px;
  height:40px;
  color:#FFFFFF;
}
#u12288 {
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u12289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12289 {
  position:absolute;
  left:1139px;
  top:304px;
  width:122px;
  height:40px;
  color:#FFFFFF;
}
#u12290 {
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u12291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12291 {
  position:absolute;
  left:993px;
  top:372px;
  width:122px;
  height:40px;
  color:#FFFFFF;
}
#u12292 {
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u12293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12293 {
  position:absolute;
  left:1139px;
  top:372px;
  width:122px;
  height:40px;
  color:#FFFFFF;
}
#u12294 {
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u12295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12295 {
  position:absolute;
  left:250px;
  top:587px;
  width:30px;
  height:25px;
  color:#FFFFFF;
}
#u12296 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u12297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u12297 {
  position:absolute;
  left:227px;
  top:589px;
  width:13px;
  height:20px;
}
#u12298 {
  position:absolute;
  left:2px;
  top:2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u12299 {
  position:absolute;
  left:290px;
  top:589px;
  width:13px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u12300 {
  position:absolute;
  left:2px;
  top:2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u12301 {
  position:absolute;
  left:313px;
  top:592px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u12302 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12303 {
  position:absolute;
  left:348px;
  top:587px;
  width:36px;
  height:25px;
}
#u12303_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:center;
}
#u12304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u12304 {
  position:absolute;
  left:395px;
  top:592px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u12305 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u12306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12306 {
  position:absolute;
  left:429px;
  top:587px;
  width:48px;
  height:25px;
  color:#999999;
}
#u12307 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u12308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u12308 {
  position:absolute;
  left:487px;
  top:592px;
  width:44px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u12309 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u12310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12310 {
  position:absolute;
  left:993px;
  top:444px;
  width:122px;
  height:40px;
  color:#FFFFFF;
}
#u12311 {
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u12312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12312 {
  position:absolute;
  left:1139px;
  top:444px;
  width:122px;
  height:40px;
  color:#FFFFFF;
}
#u12313 {
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u12314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12314 {
  position:absolute;
  left:993px;
  top:516px;
  width:122px;
  height:40px;
  color:#FFFFFF;
}
#u12315 {
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u12316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12316 {
  position:absolute;
  left:1139px;
  top:516px;
  width:122px;
  height:40px;
  color:#FFFFFF;
}
#u12317 {
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u12318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u12318 {
  position:absolute;
  left:165px;
  top:421px;
  width:8px;
  height:15px;
}
#u12319 {
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12320 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12321 {
  position:absolute;
  left:25px;
  top:298px;
  width:14px;
  height:14px;
}
#u12322 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12323 {
  position:absolute;
  left:43px;
  top:298px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12324 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12325 {
  position:absolute;
  left:25px;
  top:330px;
  width:14px;
  height:14px;
}
#u12326 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12327 {
  position:absolute;
  left:43px;
  top:330px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12328 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12329 {
  position:absolute;
  left:25px;
  top:360px;
  width:14px;
  height:14px;
}
#u12330 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12331 {
  position:absolute;
  left:43px;
  top:360px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12332 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12333 {
  position:absolute;
  left:25px;
  top:390px;
  width:14px;
  height:14px;
}
#u12334 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12335 {
  position:absolute;
  left:43px;
  top:390px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12336 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12337 {
  position:absolute;
  left:25px;
  top:420px;
  width:14px;
  height:14px;
}
#u12338 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12339 {
  position:absolute;
  left:43px;
  top:420px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12340 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12341 {
  position:absolute;
  left:25px;
  top:449px;
  width:14px;
  height:14px;
}
#u12342 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12343 {
  position:absolute;
  left:43px;
  top:449px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12344 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
