html,body,ul,li{
	padding:0;
	margin:0;
	list-style: none;
}
/*覆盖样式*/
.layui-layer-title,.layui-elem-quote{
	background-color: #e4e4e4!important;
	}
.layui-table thead tr,.layui-table-header{
	background-color: #e4e4e4!important;
}
