html,body{
	width:100%;
	padding:0;
	margin:0;
	overflow:auto;
}
.bradge-box{
	 width:100%;
	 overflow:auto;
	 box-sizing:border-box;
	 position:fixed;
	 bottom:0px;
	 left:0;
	 padding-bottom:40px;
	.canvas-contai{
	    padding:20px;
	    overflow:auto;
	    background-image:url(../../images/mapdetail/water.gif);
		background-size:100% 28%;
		background-repeat:no-repeat;
		background-position:left bottom;
	   .bradge-items{
	      float:left;
	      width:140px;
	      height:300px;
	      background-image:url(../../images/mapdetail/bradge.png);
	      background-repeat:no-repeat;
	      background-size:100%;
	      position:relative;
	      .mark-num{
	         position:absolute;
	         top:25px;
	         left:52px;
	         font-size:16px;
	         color:#fff;
	      }
	      .splot-box{
	         position:absolute;
	         left:58px;
	         top:100px;
	        .circle{
	           width:25px;
	           height:25px;
	           border-radius:50%;
	           position:absolute;
	           left:-2px;
	           cursor:pointer;
	           border:1px solid #fff;
	           user-select:none;
	        }
	        .top{
	           top:-10px;
	        }
	        .middle{
	           top:65px;
	        }
	        .bottom{
	           top:140px;
	        }
	        .sel_red{
                background:red;
	        }
	        .sel_green{
	            background:green;
	        }
	        .sel_orange{
	            background:orange;
	        }
	      }
	   }
	}
}

.top-box{
    position:fixed;
    left:0;
    top:0;
	width:100%;
	height:60px;
	background:#f5f5f5;
	.sel_box{
	  float:left;
	  .tips{
	    line-height:60px;
	    font-size:14px;
	    color:#333;
	    margin:0 15px;
	  }
	  select{
	     width:180px;
	     height:25px;
	     color:#333;
	     font-size:14px;
	     border:1px solid #333;
	     border-radius:3px;
	  }
	}
	.close_btn{
	   float:right;
	   font-size:20px;
	   color:#333;
	   margin-right:20px;
	   margin-top:15px;
	   cursor:pointer;
	}
}
.top_title_box{
    position:fixed;
    top:70px;
    left:40px;
	font-size:12px;
	color:#333;
	.list_item{
	  margin-bottom:8px;
	}
}
.point_box{
    position:fixed;
    top:95px;
    left:390px;
    width:400px;
    height:40px;
	.point{
	   float:left;
	   margin-right:20px;
	   .circles{
	      float:left;
	      width:25px;
	      height:25px;
	      border-radius:50%;
	      border:1px solid #fff;
	      box-shadow:1px 1px 5px #000;
	   }
	   em{
	     float:left;
	     font-style:normal;
	     font-size:12px;
	     line-height:30px;
	     margin-left:10px;
	   }
	   .green{
	      background:green;
	   }
	   .red{
	      background:red;
	   }
	   .orange{
	      background:orange;
	   }
	}
}