<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../../css/page/detail.css">
	<link rel="stylesheet" href="../../css/base.css">
</head>
<body>
	<div class="bradge-box">
        <ul class="canvas-contai">
            <li class="bradge-items">
               <div class="mark-num">1</div>
               <ul class="splot-box">
                  <li class="top sel_red circle"></li>
                  <li class="middle sel_orange circle"></li>
                  <li class="bottom sel_red circle"></li>
               </ul>
            </li>
            <li class="bradge-items">
               <div class="mark-num">1</div>
               <ul class="splot-box">
                  <li class="top sel_green circle"></li>
                  <li class="middle sel_orange circle"></li>
                  <li class="bottom sel_red circle"></li>
               </ul>
            </li>
            <li class="bradge-items">
               <div class="mark-num">1</div>
               <ul class="splot-box">
                  <li class="top sel_orange circle"></li>
                  <li class="bottom sel_red circle"></li>
               </ul>
            </li>
             <li class="bradge-items">
               <div class="mark-num">1</div>
               <ul class="splot-box">
                  <li class="top sel_orange circle"></li>
                  <li class="bottom sel_red circle"></li>
               </ul>
            </li>
             <li class="bradge-items">
               <div class="mark-num">1</div>
               <ul class="splot-box">
                  <li class="top sel_orange circle"></li>
                  <li class="bottom sel_red circle"></li>
               </ul>
            </li>
             <li class="bradge-items">
               <div class="mark-num">1</div>
               <ul class="splot-box">
                  <li class="top sel_orange circle"></li>
                  <li class="bottom sel_red circle"></li>
               </ul>
            </li>
             <li class="bradge-items">
               <div class="mark-num">1</div>
               <ul class="splot-box">
                  <li class="top sel_orange circle"></li>
                  <li class="bottom sel_red circle"></li>
               </ul>
            </li>
             <li class="bradge-items">
               <div class="mark-num">1</div>
               <ul class="splot-box">
                  <li class="top sel_orange circle"></li>
                  <li class="bottom sel_red circle"></li>
               </ul>
            </li>
        </ul>
	</div>
</body>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script src="../../js/page/monitorMng/datail.js"></script>
</html>