body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1359px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1359px;
  height:58px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11954 {
  position:absolute;
  left:0px;
  top:0px;
  width:1359px;
  height:58px;
}
#u11955 {
  position:absolute;
  left:2px;
  top:21px;
  width:1355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11956 {
  position:absolute;
  left:45px;
  top:17px;
  width:121px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11957 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u11958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11958 {
  position:absolute;
  left:196px;
  top:11px;
  width:36px;
  height:36px;
}
#u11959 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u11960 {
  position:absolute;
  left:206px;
  top:22px;
  width:16px;
  height:14px;
}
#u11961 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:58px;
  background:inherit;
  background-color:rgba(17, 19, 23, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11962 {
  position:absolute;
  left:703px;
  top:0px;
  width:96px;
  height:58px;
}
#u11963 {
  position:absolute;
  left:2px;
  top:21px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u11964 {
  position:absolute;
  left:267px;
  top:22px;
  width:14px;
  height:14px;
}
#u11965 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11966 {
  position:absolute;
  left:285px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u11967 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u11968 {
  position:absolute;
  left:384px;
  top:22px;
  width:14px;
  height:14px;
}
#u11969 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11970 {
  position:absolute;
  left:404px;
  top:22px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u11971 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u11972 {
  position:absolute;
  left:1020px;
  top:22px;
  width:14px;
  height:14px;
}
#u11973 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11974 {
  position:absolute;
  left:1040px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u11975 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u11976 {
  position:absolute;
  left:1135px;
  top:22px;
  width:15px;
  height:15px;
}
#u11977 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11978 {
  position:absolute;
  left:1155px;
  top:22px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u11979 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u11980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u11980 {
  position:absolute;
  left:1219px;
  top:12px;
  width:37px;
  height:36px;
}
#u11981 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11982 {
  position:absolute;
  left:1266px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u11983 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:7px;
}
#u11984 {
  position:absolute;
  left:1329px;
  top:26px;
  width:13px;
  height:7px;
}
#u11985 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:749px;
  background:inherit;
  background-color:rgba(57, 61, 73, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11986 {
  position:absolute;
  left:0px;
  top:57px;
  width:199px;
  height:749px;
}
#u11987 {
  position:absolute;
  left:2px;
  top:366px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u11988 {
  position:absolute;
  left:61px;
  top:75px;
  width:80px;
  height:80px;
}
#u11989 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1161px;
  height:749px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11990 {
  position:absolute;
  left:198px;
  top:57px;
  width:1161px;
  height:749px;
}
#u11991 {
  position:absolute;
  left:2px;
  top:366px;
  width:1157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11992 {
  position:absolute;
  left:0px;
  top:238px;
  width:198px;
  height:46px;
}
#u11993 {
  position:absolute;
  left:2px;
  top:15px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u11994 {
  position:absolute;
  left:51px;
  top:165px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u11995 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u11996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:33px;
  background:inherit;
  background-color:rgba(67, 71, 82, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11996 {
  position:absolute;
  left:11px;
  top:198px;
  width:176px;
  height:33px;
}
#u11997 {
  position:absolute;
  left:2px;
  top:8px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u11998 {
  position:absolute;
  left:161px;
  top:207px;
  width:15px;
  height:15px;
}
#u11999 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12000 {
  position:absolute;
  left:29px;
  top:207px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12001 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u12002 {
  position:absolute;
  left:55px;
  top:254px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u12003 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u12004 {
  position:absolute;
  left:25px;
  top:255px;
  width:14px;
  height:13px;
}
#u12005 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12006 {
  position:absolute;
  left:703px;
  top:51px;
  width:96px;
  height:6px;
}
#u12007 {
  position:absolute;
  left:2px;
  top:-5px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1157px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12008 {
  position:absolute;
  left:202px;
  top:106px;
  width:1157px;
  height:700px;
}
#u12009 {
  position:absolute;
  left:2px;
  top:342px;
  width:1153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u12010 {
  position:absolute;
  left:230px;
  top:75px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u12011 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u12012 {
  position:absolute;
  left:209px;
  top:76px;
  width:14px;
  height:13px;
  color:#1E1E1E;
}
#u12013 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12014 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12015 {
  position:absolute;
  left:292px;
  top:60px;
  width:137px;
  height:46px;
}
#u12016 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12017 {
  position:absolute;
  left:296px;
  top:60px;
  width:133px;
  height:46px;
}
#u12018 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12019 {
  position:absolute;
  left:311px;
  top:76px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12020 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u12021 {
  position:absolute;
  left:406px;
  top:76px;
  width:13px;
  height:14px;
}
#u12022 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:46px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12024 {
  position:absolute;
  left:429px;
  top:60px;
  width:137px;
  height:46px;
}
#u12025 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12026 {
  position:absolute;
  left:433px;
  top:60px;
  width:133px;
  height:46px;
}
#u12027 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12028 {
  position:absolute;
  left:448px;
  top:76px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12029 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u12030 {
  position:absolute;
  left:543px;
  top:76px;
  width:13px;
  height:14px;
}
#u12031 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u12032 {
  position:absolute;
  left:540px;
  top:76px;
  width:13px;
  height:14px;
}
#u12033 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12034 {
  position:absolute;
  left:500px;
  top:22px;
  width:14px;
  height:14px;
}
#u12035 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12036 {
  position:absolute;
  left:520px;
  top:22px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12037 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12038 {
  position:absolute;
  left:617px;
  top:22px;
  width:14px;
  height:14px;
}
#u12039 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12040 {
  position:absolute;
  left:637px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12041 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12042 {
  position:absolute;
  left:717px;
  top:22px;
  width:14px;
  height:14px;
}
#u12043 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12044 {
  position:absolute;
  left:737px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12045 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12046 {
  position:absolute;
  left:204px;
  top:760px;
  width:1155px;
  height:46px;
}
#u12047 {
  position:absolute;
  left:2px;
  top:15px;
  width:1151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:22px;
}
#u12048 {
  position:absolute;
  left:611px;
  top:772px;
  width:341px;
  height:22px;
}
#u12049 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u12050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:70px;
  background:inherit;
  background-color:rgba(57, 61, 73, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12050 {
  position:absolute;
  left:213px;
  top:116px;
  width:1129px;
  height:70px;
}
#u12051 {
  position:absolute;
  left:2px;
  top:27px;
  width:1125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:70px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12052 {
  position:absolute;
  left:220px;
  top:116px;
  width:1120px;
  height:70px;
}
#u12053 {
  position:absolute;
  left:2px;
  top:27px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12054 {
  position:absolute;
  left:244px;
  top:133px;
  width:132px;
  height:37px;
}
#u12054_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u12054_input:disabled {
  color:grayText;
}
#u12055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12055 {
  position:absolute;
  left:487px;
  top:133px;
  width:84px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12056 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u12057 {
  position:absolute;
  left:220px;
  top:216px;
  width:1117px;
  height:362px;
}
#u12058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:71px;
}
#u12058 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:71px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12059 {
  position:absolute;
  left:2px;
  top:28px;
  width:78px;
  word-wrap:break-word;
}
#u12060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:71px;
}
#u12060 {
  position:absolute;
  left:82px;
  top:0px;
  width:376px;
  height:71px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12061 {
  position:absolute;
  left:2px;
  top:28px;
  width:372px;
  word-wrap:break-word;
}
#u12062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:71px;
}
#u12062 {
  position:absolute;
  left:458px;
  top:0px;
  width:404px;
  height:71px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12063 {
  position:absolute;
  left:2px;
  top:28px;
  width:400px;
  word-wrap:break-word;
}
#u12064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:71px;
}
#u12064 {
  position:absolute;
  left:862px;
  top:0px;
  width:250px;
  height:71px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12065 {
  position:absolute;
  left:2px;
  top:28px;
  width:246px;
  word-wrap:break-word;
}
#u12066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:68px;
}
#u12066 {
  position:absolute;
  left:0px;
  top:71px;
  width:82px;
  height:68px;
}
#u12067 {
  position:absolute;
  left:2px;
  top:26px;
  width:78px;
  word-wrap:break-word;
}
#u12068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:68px;
}
#u12068 {
  position:absolute;
  left:82px;
  top:71px;
  width:376px;
  height:68px;
}
#u12069 {
  position:absolute;
  left:2px;
  top:26px;
  width:372px;
  word-wrap:break-word;
}
#u12070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:68px;
}
#u12070 {
  position:absolute;
  left:458px;
  top:71px;
  width:404px;
  height:68px;
}
#u12071 {
  position:absolute;
  left:2px;
  top:26px;
  width:400px;
  word-wrap:break-word;
}
#u12072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:68px;
}
#u12072 {
  position:absolute;
  left:862px;
  top:71px;
  width:250px;
  height:68px;
}
#u12073 {
  position:absolute;
  left:2px;
  top:26px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:70px;
}
#u12074 {
  position:absolute;
  left:0px;
  top:139px;
  width:82px;
  height:70px;
}
#u12075 {
  position:absolute;
  left:2px;
  top:27px;
  width:78px;
  word-wrap:break-word;
}
#u12076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:70px;
}
#u12076 {
  position:absolute;
  left:82px;
  top:139px;
  width:376px;
  height:70px;
}
#u12077 {
  position:absolute;
  left:2px;
  top:27px;
  width:372px;
  word-wrap:break-word;
}
#u12078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:70px;
}
#u12078 {
  position:absolute;
  left:458px;
  top:139px;
  width:404px;
  height:70px;
}
#u12079 {
  position:absolute;
  left:2px;
  top:27px;
  width:400px;
  word-wrap:break-word;
}
#u12080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:70px;
}
#u12080 {
  position:absolute;
  left:862px;
  top:139px;
  width:250px;
  height:70px;
}
#u12081 {
  position:absolute;
  left:2px;
  top:27px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:74px;
}
#u12082 {
  position:absolute;
  left:0px;
  top:209px;
  width:82px;
  height:74px;
}
#u12083 {
  position:absolute;
  left:2px;
  top:29px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:74px;
}
#u12084 {
  position:absolute;
  left:82px;
  top:209px;
  width:376px;
  height:74px;
}
#u12085 {
  position:absolute;
  left:2px;
  top:29px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:74px;
}
#u12086 {
  position:absolute;
  left:458px;
  top:209px;
  width:404px;
  height:74px;
}
#u12087 {
  position:absolute;
  left:2px;
  top:29px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:74px;
}
#u12088 {
  position:absolute;
  left:862px;
  top:209px;
  width:250px;
  height:74px;
}
#u12089 {
  position:absolute;
  left:2px;
  top:29px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:74px;
}
#u12090 {
  position:absolute;
  left:0px;
  top:283px;
  width:82px;
  height:74px;
}
#u12091 {
  position:absolute;
  left:2px;
  top:29px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:74px;
}
#u12092 {
  position:absolute;
  left:82px;
  top:283px;
  width:376px;
  height:74px;
}
#u12093 {
  position:absolute;
  left:2px;
  top:29px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:74px;
}
#u12094 {
  position:absolute;
  left:458px;
  top:283px;
  width:404px;
  height:74px;
}
#u12095 {
  position:absolute;
  left:2px;
  top:29px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:74px;
}
#u12096 {
  position:absolute;
  left:862px;
  top:283px;
  width:250px;
  height:74px;
}
#u12097 {
  position:absolute;
  left:2px;
  top:29px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12098 {
  position:absolute;
  left:1136px;
  top:304px;
  width:69px;
  height:40px;
  color:#FFFFFF;
}
#u12099 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u12100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:-webkit-linear-gradient(232deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(0, 153, 153, 1) 100%, rgba(0, 153, 153, 1) 100%);
  background:-moz-linear-gradient(218deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(0, 153, 153, 1) 100%, rgba(0, 153, 153, 1) 100%);
  background:linear-gradient(218deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(0, 153, 153, 1) 100%, rgba(0, 153, 153, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12100 {
  position:absolute;
  left:386px;
  top:133px;
  width:84px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12101 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u12102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12102 {
  position:absolute;
  left:1219px;
  top:304px;
  width:69px;
  height:40px;
  color:#FFFFFF;
}
#u12103 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u12104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12104 {
  position:absolute;
  left:1136px;
  top:372px;
  width:69px;
  height:40px;
  color:#FFFFFF;
}
#u12105 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u12106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12106 {
  position:absolute;
  left:1219px;
  top:372px;
  width:69px;
  height:40px;
  color:#FFFFFF;
}
#u12107 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u12108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:inherit;
  background-color:rgba(153, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12108 {
  position:absolute;
  left:590px;
  top:133px;
  width:84px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12109 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u12110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12112 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1157px;
  height:656px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12113 {
  position:absolute;
  left:202px;
  top:106px;
  width:1157px;
  height:656px;
}
#u12114 {
  position:absolute;
  left:2px;
  top:320px;
  width:1153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1157px;
  height:55px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12115 {
  position:absolute;
  left:202px;
  top:106px;
  width:1157px;
  height:55px;
}
#u12116 {
  position:absolute;
  left:2px;
  top:20px;
  width:1153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u12117 {
  position:absolute;
  left:224px;
  top:126px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
}
#u12118 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12119 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:right;
}
#u12120 {
  position:absolute;
  left:216px;
  top:207px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:right;
}
#u12121 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12122 {
  position:absolute;
  left:322px;
  top:193px;
  width:320px;
  height:44px;
}
#u12122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u12123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12123 {
  position:absolute;
  left:322px;
  top:327px;
  width:140px;
  height:40px;
}
#u12124 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u12125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u12125 {
  position:absolute;
  left:502px;
  top:327px;
  width:140px;
  height:40px;
  color:#333333;
}
#u12126 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u12127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u12127 {
  position:absolute;
  left:1327px;
  top:127px;
  width:13px;
  height:14px;
}
#u12128 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12129 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12130 {
  position:absolute;
  left:25px;
  top:298px;
  width:14px;
  height:14px;
}
#u12131 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12132 {
  position:absolute;
  left:43px;
  top:298px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12133 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12134 {
  position:absolute;
  left:25px;
  top:330px;
  width:14px;
  height:14px;
}
#u12135 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12136 {
  position:absolute;
  left:43px;
  top:330px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12137 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12138 {
  position:absolute;
  left:25px;
  top:360px;
  width:14px;
  height:14px;
}
#u12139 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12140 {
  position:absolute;
  left:43px;
  top:360px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12141 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12142 {
  position:absolute;
  left:25px;
  top:390px;
  width:14px;
  height:14px;
}
#u12143 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12144 {
  position:absolute;
  left:43px;
  top:390px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12145 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12146 {
  position:absolute;
  left:25px;
  top:420px;
  width:14px;
  height:14px;
}
#u12147 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12148 {
  position:absolute;
  left:43px;
  top:420px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12149 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12150 {
  position:absolute;
  left:25px;
  top:449px;
  width:14px;
  height:14px;
}
#u12151 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12152 {
  position:absolute;
  left:43px;
  top:449px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12153 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
