body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1359px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1359px;
  height:58px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10972 {
  position:absolute;
  left:0px;
  top:0px;
  width:1359px;
  height:58px;
}
#u10973 {
  position:absolute;
  left:2px;
  top:21px;
  width:1355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u10974 {
  position:absolute;
  left:45px;
  top:17px;
  width:121px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u10975 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u10976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10976 {
  position:absolute;
  left:196px;
  top:11px;
  width:36px;
  height:36px;
}
#u10977 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u10978 {
  position:absolute;
  left:206px;
  top:22px;
  width:16px;
  height:14px;
}
#u10979 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:58px;
  background:inherit;
  background-color:rgba(17, 19, 23, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10980 {
  position:absolute;
  left:703px;
  top:0px;
  width:96px;
  height:58px;
}
#u10981 {
  position:absolute;
  left:2px;
  top:21px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u10982 {
  position:absolute;
  left:267px;
  top:22px;
  width:14px;
  height:14px;
}
#u10983 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10984 {
  position:absolute;
  left:285px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u10985 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u10986 {
  position:absolute;
  left:384px;
  top:22px;
  width:14px;
  height:14px;
}
#u10987 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10988 {
  position:absolute;
  left:404px;
  top:22px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u10989 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u10990 {
  position:absolute;
  left:1020px;
  top:22px;
  width:14px;
  height:14px;
}
#u10991 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10992 {
  position:absolute;
  left:1040px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u10993 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u10994 {
  position:absolute;
  left:1135px;
  top:22px;
  width:15px;
  height:15px;
}
#u10995 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10996 {
  position:absolute;
  left:1155px;
  top:22px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u10997 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u10998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u10998 {
  position:absolute;
  left:1219px;
  top:12px;
  width:37px;
  height:36px;
}
#u10999 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11000 {
  position:absolute;
  left:1266px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u11001 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:7px;
}
#u11002 {
  position:absolute;
  left:1329px;
  top:26px;
  width:13px;
  height:7px;
}
#u11003 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:749px;
  background:inherit;
  background-color:rgba(57, 61, 73, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11004 {
  position:absolute;
  left:0px;
  top:57px;
  width:199px;
  height:749px;
}
#u11005 {
  position:absolute;
  left:2px;
  top:366px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u11006 {
  position:absolute;
  left:61px;
  top:75px;
  width:80px;
  height:80px;
}
#u11007 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1161px;
  height:749px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11008 {
  position:absolute;
  left:198px;
  top:57px;
  width:1161px;
  height:749px;
}
#u11009 {
  position:absolute;
  left:2px;
  top:366px;
  width:1157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11010 {
  position:absolute;
  left:0px;
  top:238px;
  width:198px;
  height:46px;
}
#u11011 {
  position:absolute;
  left:2px;
  top:15px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u11012 {
  position:absolute;
  left:51px;
  top:165px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u11013 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u11014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:33px;
  background:inherit;
  background-color:rgba(67, 71, 82, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11014 {
  position:absolute;
  left:11px;
  top:198px;
  width:176px;
  height:33px;
}
#u11015 {
  position:absolute;
  left:2px;
  top:8px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u11016 {
  position:absolute;
  left:161px;
  top:207px;
  width:15px;
  height:15px;
}
#u11017 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u11018 {
  position:absolute;
  left:29px;
  top:207px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u11019 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u11020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u11020 {
  position:absolute;
  left:55px;
  top:254px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u11021 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u11022 {
  position:absolute;
  left:25px;
  top:255px;
  width:14px;
  height:13px;
}
#u11023 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11024 {
  position:absolute;
  left:703px;
  top:51px;
  width:96px;
  height:6px;
}
#u11025 {
  position:absolute;
  left:2px;
  top:-5px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1157px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11026 {
  position:absolute;
  left:202px;
  top:106px;
  width:1157px;
  height:700px;
}
#u11027 {
  position:absolute;
  left:2px;
  top:342px;
  width:1153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u11028 {
  position:absolute;
  left:230px;
  top:75px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u11029 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u11030 {
  position:absolute;
  left:209px;
  top:76px;
  width:14px;
  height:13px;
  color:#1E1E1E;
}
#u11031 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11033 {
  position:absolute;
  left:292px;
  top:60px;
  width:137px;
  height:46px;
}
#u11034 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11035 {
  position:absolute;
  left:296px;
  top:60px;
  width:133px;
  height:46px;
}
#u11036 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11037 {
  position:absolute;
  left:311px;
  top:76px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u11038 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u11039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u11039 {
  position:absolute;
  left:406px;
  top:76px;
  width:13px;
  height:14px;
}
#u11040 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:46px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11042 {
  position:absolute;
  left:429px;
  top:60px;
  width:137px;
  height:46px;
}
#u11043 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11044 {
  position:absolute;
  left:433px;
  top:60px;
  width:133px;
  height:46px;
}
#u11045 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11046 {
  position:absolute;
  left:448px;
  top:76px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u11047 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u11048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u11048 {
  position:absolute;
  left:543px;
  top:76px;
  width:13px;
  height:14px;
}
#u11049 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u11050 {
  position:absolute;
  left:540px;
  top:76px;
  width:13px;
  height:14px;
}
#u11051 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u11052 {
  position:absolute;
  left:500px;
  top:22px;
  width:14px;
  height:14px;
}
#u11053 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11054 {
  position:absolute;
  left:520px;
  top:22px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u11055 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u11056 {
  position:absolute;
  left:617px;
  top:22px;
  width:14px;
  height:14px;
}
#u11057 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11058 {
  position:absolute;
  left:637px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u11059 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u11060 {
  position:absolute;
  left:717px;
  top:22px;
  width:14px;
  height:14px;
}
#u11061 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11062 {
  position:absolute;
  left:737px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u11063 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11064 {
  position:absolute;
  left:204px;
  top:760px;
  width:1155px;
  height:46px;
}
#u11065 {
  position:absolute;
  left:2px;
  top:15px;
  width:1151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:22px;
}
#u11066 {
  position:absolute;
  left:611px;
  top:772px;
  width:341px;
  height:22px;
}
#u11067 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u11068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:70px;
  background:inherit;
  background-color:rgba(57, 61, 73, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11068 {
  position:absolute;
  left:213px;
  top:116px;
  width:1129px;
  height:70px;
}
#u11069 {
  position:absolute;
  left:2px;
  top:27px;
  width:1125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:70px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11070 {
  position:absolute;
  left:220px;
  top:116px;
  width:1120px;
  height:70px;
}
#u11071 {
  position:absolute;
  left:2px;
  top:27px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:-webkit-linear-gradient(232deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(0, 153, 153, 1) 100%, rgba(0, 153, 153, 1) 100%);
  background:-moz-linear-gradient(218deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(0, 153, 153, 1) 100%, rgba(0, 153, 153, 1) 100%);
  background:linear-gradient(218deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(0, 153, 153, 1) 100%, rgba(0, 153, 153, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11072 {
  position:absolute;
  left:249px;
  top:133px;
  width:84px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11073 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u11074 {
  position:absolute;
  left:220px;
  top:216px;
  width:1100px;
  height:362px;
}
#u11075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:71px;
}
#u11075 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:71px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11076 {
  position:absolute;
  left:2px;
  top:28px;
  width:123px;
  word-wrap:break-word;
}
#u11077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:71px;
}
#u11077 {
  position:absolute;
  left:127px;
  top:0px;
  width:581px;
  height:71px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11078 {
  position:absolute;
  left:2px;
  top:28px;
  width:577px;
  word-wrap:break-word;
}
#u11079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:71px;
}
#u11079 {
  position:absolute;
  left:708px;
  top:0px;
  width:387px;
  height:71px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11080 {
  position:absolute;
  left:2px;
  top:28px;
  width:383px;
  word-wrap:break-word;
}
#u11081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:68px;
}
#u11081 {
  position:absolute;
  left:0px;
  top:71px;
  width:127px;
  height:68px;
}
#u11082 {
  position:absolute;
  left:2px;
  top:26px;
  width:123px;
  word-wrap:break-word;
}
#u11083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:68px;
}
#u11083 {
  position:absolute;
  left:127px;
  top:71px;
  width:581px;
  height:68px;
}
#u11084 {
  position:absolute;
  left:2px;
  top:26px;
  width:577px;
  word-wrap:break-word;
}
#u11085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:68px;
}
#u11085 {
  position:absolute;
  left:708px;
  top:71px;
  width:387px;
  height:68px;
}
#u11086 {
  position:absolute;
  left:2px;
  top:26px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:70px;
}
#u11087 {
  position:absolute;
  left:0px;
  top:139px;
  width:127px;
  height:70px;
}
#u11088 {
  position:absolute;
  left:2px;
  top:27px;
  width:123px;
  word-wrap:break-word;
}
#u11089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:70px;
}
#u11089 {
  position:absolute;
  left:127px;
  top:139px;
  width:581px;
  height:70px;
}
#u11090 {
  position:absolute;
  left:2px;
  top:27px;
  width:577px;
  word-wrap:break-word;
}
#u11091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:70px;
}
#u11091 {
  position:absolute;
  left:708px;
  top:139px;
  width:387px;
  height:70px;
}
#u11092 {
  position:absolute;
  left:2px;
  top:27px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:74px;
}
#u11093 {
  position:absolute;
  left:0px;
  top:209px;
  width:127px;
  height:74px;
}
#u11094 {
  position:absolute;
  left:2px;
  top:29px;
  width:123px;
  word-wrap:break-word;
}
#u11095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:74px;
}
#u11095 {
  position:absolute;
  left:127px;
  top:209px;
  width:581px;
  height:74px;
}
#u11096 {
  position:absolute;
  left:2px;
  top:29px;
  width:577px;
  word-wrap:break-word;
}
#u11097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:74px;
}
#u11097 {
  position:absolute;
  left:708px;
  top:209px;
  width:387px;
  height:74px;
}
#u11098 {
  position:absolute;
  left:2px;
  top:29px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:74px;
}
#u11099 {
  position:absolute;
  left:0px;
  top:283px;
  width:127px;
  height:74px;
}
#u11100 {
  position:absolute;
  left:2px;
  top:29px;
  width:123px;
  word-wrap:break-word;
}
#u11101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:74px;
}
#u11101 {
  position:absolute;
  left:127px;
  top:283px;
  width:581px;
  height:74px;
}
#u11102 {
  position:absolute;
  left:2px;
  top:29px;
  width:577px;
  word-wrap:break-word;
}
#u11103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:74px;
}
#u11103 {
  position:absolute;
  left:708px;
  top:283px;
  width:387px;
  height:74px;
}
#u11104 {
  position:absolute;
  left:2px;
  top:29px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11105 {
  position:absolute;
  left:993px;
  top:304px;
  width:122px;
  height:40px;
  color:#FFFFFF;
}
#u11106 {
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u11107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11107 {
  position:absolute;
  left:1139px;
  top:304px;
  width:122px;
  height:40px;
  color:#FFFFFF;
}
#u11108 {
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u11109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11109 {
  position:absolute;
  left:993px;
  top:372px;
  width:122px;
  height:40px;
  color:#FFFFFF;
}
#u11110 {
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u11111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11111 {
  position:absolute;
  left:1139px;
  top:372px;
  width:122px;
  height:40px;
  color:#FFFFFF;
}
#u11112 {
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u11113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11113 {
  position:absolute;
  left:250px;
  top:587px;
  width:30px;
  height:25px;
  color:#FFFFFF;
}
#u11114 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u11115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u11115 {
  position:absolute;
  left:227px;
  top:589px;
  width:13px;
  height:20px;
}
#u11116 {
  position:absolute;
  left:2px;
  top:2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u11117 {
  position:absolute;
  left:290px;
  top:589px;
  width:13px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u11118 {
  position:absolute;
  left:2px;
  top:2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u11119 {
  position:absolute;
  left:313px;
  top:592px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u11120 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u11121 {
  position:absolute;
  left:348px;
  top:587px;
  width:36px;
  height:25px;
}
#u11121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:center;
}
#u11122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u11122 {
  position:absolute;
  left:395px;
  top:592px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u11123 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u11124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u11124 {
  position:absolute;
  left:429px;
  top:587px;
  width:48px;
  height:25px;
  color:#999999;
}
#u11125 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u11126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u11126 {
  position:absolute;
  left:487px;
  top:592px;
  width:44px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u11127 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u11128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11128 {
  position:absolute;
  left:993px;
  top:444px;
  width:122px;
  height:40px;
  color:#FFFFFF;
}
#u11129 {
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u11130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11130 {
  position:absolute;
  left:1139px;
  top:444px;
  width:122px;
  height:40px;
  color:#FFFFFF;
}
#u11131 {
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u11132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11132 {
  position:absolute;
  left:993px;
  top:516px;
  width:122px;
  height:40px;
  color:#FFFFFF;
}
#u11133 {
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u11134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11134 {
  position:absolute;
  left:1139px;
  top:516px;
  width:122px;
  height:40px;
  color:#FFFFFF;
}
#u11135 {
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u11136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u11136 {
  position:absolute;
  left:165px;
  top:362px;
  width:8px;
  height:15px;
}
#u11137 {
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u11139 {
  position:absolute;
  left:25px;
  top:298px;
  width:14px;
  height:14px;
}
#u11140 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11141 {
  position:absolute;
  left:43px;
  top:298px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u11142 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u11143 {
  position:absolute;
  left:25px;
  top:330px;
  width:14px;
  height:14px;
}
#u11144 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11145 {
  position:absolute;
  left:43px;
  top:330px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u11146 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u11147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u11147 {
  position:absolute;
  left:25px;
  top:360px;
  width:14px;
  height:14px;
}
#u11148 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11149 {
  position:absolute;
  left:43px;
  top:360px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u11150 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u11151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u11151 {
  position:absolute;
  left:25px;
  top:390px;
  width:14px;
  height:14px;
}
#u11152 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11153 {
  position:absolute;
  left:43px;
  top:390px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u11154 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u11155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u11155 {
  position:absolute;
  left:25px;
  top:420px;
  width:14px;
  height:14px;
}
#u11156 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11157 {
  position:absolute;
  left:43px;
  top:420px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u11158 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u11159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u11159 {
  position:absolute;
  left:25px;
  top:449px;
  width:14px;
  height:14px;
}
#u11160 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u11161 {
  position:absolute;
  left:43px;
  top:449px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u11162 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
