body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1359px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1359px;
  height:58px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12936 {
  position:absolute;
  left:0px;
  top:0px;
  width:1359px;
  height:58px;
}
#u12937 {
  position:absolute;
  left:2px;
  top:21px;
  width:1355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12938 {
  position:absolute;
  left:45px;
  top:17px;
  width:121px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12939 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u12940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12940 {
  position:absolute;
  left:196px;
  top:11px;
  width:36px;
  height:36px;
}
#u12941 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u12942 {
  position:absolute;
  left:206px;
  top:22px;
  width:16px;
  height:14px;
}
#u12943 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:58px;
  background:inherit;
  background-color:rgba(17, 19, 23, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12944 {
  position:absolute;
  left:703px;
  top:0px;
  width:96px;
  height:58px;
}
#u12945 {
  position:absolute;
  left:2px;
  top:21px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12946 {
  position:absolute;
  left:267px;
  top:22px;
  width:14px;
  height:14px;
}
#u12947 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12948 {
  position:absolute;
  left:285px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12949 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12950 {
  position:absolute;
  left:384px;
  top:22px;
  width:14px;
  height:14px;
}
#u12951 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12952 {
  position:absolute;
  left:404px;
  top:22px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12953 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u12954 {
  position:absolute;
  left:1020px;
  top:22px;
  width:14px;
  height:14px;
}
#u12955 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12956 {
  position:absolute;
  left:1040px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12957 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12958 {
  position:absolute;
  left:1135px;
  top:22px;
  width:15px;
  height:15px;
}
#u12959 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12960 {
  position:absolute;
  left:1155px;
  top:22px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12961 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u12962 {
  position:absolute;
  left:1219px;
  top:12px;
  width:37px;
  height:36px;
}
#u12963 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12964 {
  position:absolute;
  left:1266px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u12965 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:7px;
}
#u12966 {
  position:absolute;
  left:1329px;
  top:26px;
  width:13px;
  height:7px;
}
#u12967 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:749px;
  background:inherit;
  background-color:rgba(57, 61, 73, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12968 {
  position:absolute;
  left:0px;
  top:57px;
  width:199px;
  height:749px;
}
#u12969 {
  position:absolute;
  left:2px;
  top:366px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u12970 {
  position:absolute;
  left:61px;
  top:75px;
  width:80px;
  height:80px;
}
#u12971 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1161px;
  height:749px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12972 {
  position:absolute;
  left:198px;
  top:57px;
  width:1161px;
  height:749px;
}
#u12973 {
  position:absolute;
  left:2px;
  top:366px;
  width:1157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12974 {
  position:absolute;
  left:0px;
  top:238px;
  width:198px;
  height:46px;
}
#u12975 {
  position:absolute;
  left:2px;
  top:15px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u12976 {
  position:absolute;
  left:51px;
  top:165px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u12977 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:33px;
  background:inherit;
  background-color:rgba(67, 71, 82, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12978 {
  position:absolute;
  left:11px;
  top:198px;
  width:176px;
  height:33px;
}
#u12979 {
  position:absolute;
  left:2px;
  top:8px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12980 {
  position:absolute;
  left:161px;
  top:207px;
  width:15px;
  height:15px;
}
#u12981 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12982 {
  position:absolute;
  left:29px;
  top:207px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12983 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u12984 {
  position:absolute;
  left:55px;
  top:254px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u12985 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u12986 {
  position:absolute;
  left:25px;
  top:255px;
  width:14px;
  height:13px;
}
#u12987 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12988 {
  position:absolute;
  left:703px;
  top:51px;
  width:96px;
  height:6px;
}
#u12989 {
  position:absolute;
  left:2px;
  top:-5px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1157px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12990 {
  position:absolute;
  left:202px;
  top:106px;
  width:1157px;
  height:700px;
}
#u12991 {
  position:absolute;
  left:2px;
  top:342px;
  width:1153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u12992 {
  position:absolute;
  left:230px;
  top:75px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u12993 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u12994 {
  position:absolute;
  left:209px;
  top:76px;
  width:14px;
  height:13px;
  color:#1E1E1E;
}
#u12995 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12997 {
  position:absolute;
  left:292px;
  top:60px;
  width:137px;
  height:46px;
}
#u12998 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12999 {
  position:absolute;
  left:296px;
  top:60px;
  width:133px;
  height:46px;
}
#u13000 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13001 {
  position:absolute;
  left:311px;
  top:76px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u13002 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u13003 {
  position:absolute;
  left:406px;
  top:76px;
  width:13px;
  height:14px;
}
#u13004 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:46px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13006 {
  position:absolute;
  left:429px;
  top:60px;
  width:137px;
  height:46px;
}
#u13007 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13008 {
  position:absolute;
  left:433px;
  top:60px;
  width:133px;
  height:46px;
}
#u13009 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13010 {
  position:absolute;
  left:448px;
  top:76px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u13011 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u13012 {
  position:absolute;
  left:543px;
  top:76px;
  width:13px;
  height:14px;
}
#u13013 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u13014 {
  position:absolute;
  left:540px;
  top:76px;
  width:13px;
  height:14px;
}
#u13015 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13016 {
  position:absolute;
  left:500px;
  top:22px;
  width:14px;
  height:14px;
}
#u13017 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13018 {
  position:absolute;
  left:520px;
  top:22px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u13019 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13020 {
  position:absolute;
  left:617px;
  top:22px;
  width:14px;
  height:14px;
}
#u13021 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13022 {
  position:absolute;
  left:637px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u13023 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13024 {
  position:absolute;
  left:717px;
  top:22px;
  width:14px;
  height:14px;
}
#u13025 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13026 {
  position:absolute;
  left:737px;
  top:22px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u13027 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13028 {
  position:absolute;
  left:204px;
  top:760px;
  width:1155px;
  height:46px;
}
#u13029 {
  position:absolute;
  left:2px;
  top:15px;
  width:1151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:22px;
}
#u13030 {
  position:absolute;
  left:611px;
  top:772px;
  width:341px;
  height:22px;
}
#u13031 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u13032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:70px;
  background:inherit;
  background-color:rgba(57, 61, 73, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13032 {
  position:absolute;
  left:213px;
  top:116px;
  width:1129px;
  height:70px;
}
#u13033 {
  position:absolute;
  left:2px;
  top:27px;
  width:1125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:70px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13034 {
  position:absolute;
  left:220px;
  top:116px;
  width:1120px;
  height:70px;
}
#u13035 {
  position:absolute;
  left:2px;
  top:27px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13036 {
  position:absolute;
  left:244px;
  top:133px;
  width:132px;
  height:37px;
}
#u13036_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u13036_input:disabled {
  color:grayText;
}
#u13037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13037 {
  position:absolute;
  left:487px;
  top:133px;
  width:84px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13038 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u13039 {
  position:absolute;
  left:220px;
  top:216px;
  width:1117px;
  height:362px;
}
#u13040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:71px;
}
#u13040 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:71px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13041 {
  position:absolute;
  left:2px;
  top:28px;
  width:78px;
  word-wrap:break-word;
}
#u13042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:71px;
}
#u13042 {
  position:absolute;
  left:82px;
  top:0px;
  width:376px;
  height:71px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13043 {
  position:absolute;
  left:2px;
  top:28px;
  width:372px;
  word-wrap:break-word;
}
#u13044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:71px;
}
#u13044 {
  position:absolute;
  left:458px;
  top:0px;
  width:404px;
  height:71px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13045 {
  position:absolute;
  left:2px;
  top:28px;
  width:400px;
  word-wrap:break-word;
}
#u13046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:71px;
}
#u13046 {
  position:absolute;
  left:862px;
  top:0px;
  width:250px;
  height:71px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13047 {
  position:absolute;
  left:2px;
  top:28px;
  width:246px;
  word-wrap:break-word;
}
#u13048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:68px;
}
#u13048 {
  position:absolute;
  left:0px;
  top:71px;
  width:82px;
  height:68px;
}
#u13049 {
  position:absolute;
  left:2px;
  top:26px;
  width:78px;
  word-wrap:break-word;
}
#u13050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:68px;
}
#u13050 {
  position:absolute;
  left:82px;
  top:71px;
  width:376px;
  height:68px;
}
#u13051 {
  position:absolute;
  left:2px;
  top:26px;
  width:372px;
  word-wrap:break-word;
}
#u13052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:68px;
}
#u13052 {
  position:absolute;
  left:458px;
  top:71px;
  width:404px;
  height:68px;
}
#u13053 {
  position:absolute;
  left:2px;
  top:26px;
  width:400px;
  word-wrap:break-word;
}
#u13054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:68px;
}
#u13054 {
  position:absolute;
  left:862px;
  top:71px;
  width:250px;
  height:68px;
}
#u13055 {
  position:absolute;
  left:2px;
  top:26px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:70px;
}
#u13056 {
  position:absolute;
  left:0px;
  top:139px;
  width:82px;
  height:70px;
}
#u13057 {
  position:absolute;
  left:2px;
  top:27px;
  width:78px;
  word-wrap:break-word;
}
#u13058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:70px;
}
#u13058 {
  position:absolute;
  left:82px;
  top:139px;
  width:376px;
  height:70px;
}
#u13059 {
  position:absolute;
  left:2px;
  top:27px;
  width:372px;
  word-wrap:break-word;
}
#u13060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:70px;
}
#u13060 {
  position:absolute;
  left:458px;
  top:139px;
  width:404px;
  height:70px;
}
#u13061 {
  position:absolute;
  left:2px;
  top:27px;
  width:400px;
  word-wrap:break-word;
}
#u13062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:70px;
}
#u13062 {
  position:absolute;
  left:862px;
  top:139px;
  width:250px;
  height:70px;
}
#u13063 {
  position:absolute;
  left:2px;
  top:27px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:74px;
}
#u13064 {
  position:absolute;
  left:0px;
  top:209px;
  width:82px;
  height:74px;
}
#u13065 {
  position:absolute;
  left:2px;
  top:29px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:74px;
}
#u13066 {
  position:absolute;
  left:82px;
  top:209px;
  width:376px;
  height:74px;
}
#u13067 {
  position:absolute;
  left:2px;
  top:29px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:74px;
}
#u13068 {
  position:absolute;
  left:458px;
  top:209px;
  width:404px;
  height:74px;
}
#u13069 {
  position:absolute;
  left:2px;
  top:29px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:74px;
}
#u13070 {
  position:absolute;
  left:862px;
  top:209px;
  width:250px;
  height:74px;
}
#u13071 {
  position:absolute;
  left:2px;
  top:29px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:74px;
}
#u13072 {
  position:absolute;
  left:0px;
  top:283px;
  width:82px;
  height:74px;
}
#u13073 {
  position:absolute;
  left:2px;
  top:29px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:74px;
}
#u13074 {
  position:absolute;
  left:82px;
  top:283px;
  width:376px;
  height:74px;
}
#u13075 {
  position:absolute;
  left:2px;
  top:29px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:74px;
}
#u13076 {
  position:absolute;
  left:458px;
  top:283px;
  width:404px;
  height:74px;
}
#u13077 {
  position:absolute;
  left:2px;
  top:29px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:74px;
}
#u13078 {
  position:absolute;
  left:862px;
  top:283px;
  width:250px;
  height:74px;
}
#u13079 {
  position:absolute;
  left:2px;
  top:29px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13080 {
  position:absolute;
  left:1136px;
  top:304px;
  width:69px;
  height:40px;
  color:#FFFFFF;
}
#u13081 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u13082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:-webkit-linear-gradient(232deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(0, 153, 153, 1) 100%, rgba(0, 153, 153, 1) 100%);
  background:-moz-linear-gradient(218deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(0, 153, 153, 1) 100%, rgba(0, 153, 153, 1) 100%);
  background:linear-gradient(218deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(0, 153, 153, 1) 100%, rgba(0, 153, 153, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13082 {
  position:absolute;
  left:386px;
  top:133px;
  width:84px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13083 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u13084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13084 {
  position:absolute;
  left:1219px;
  top:304px;
  width:69px;
  height:40px;
  color:#FFFFFF;
}
#u13085 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u13086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13086 {
  position:absolute;
  left:1136px;
  top:372px;
  width:69px;
  height:40px;
  color:#FFFFFF;
}
#u13087 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u13088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13088 {
  position:absolute;
  left:1219px;
  top:372px;
  width:69px;
  height:40px;
  color:#FFFFFF;
}
#u13089 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u13090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:inherit;
  background-color:rgba(153, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13090 {
  position:absolute;
  left:590px;
  top:133px;
  width:84px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13091 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u13092 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13093 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13094 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1157px;
  height:656px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13095 {
  position:absolute;
  left:202px;
  top:106px;
  width:1157px;
  height:656px;
}
#u13096 {
  position:absolute;
  left:2px;
  top:320px;
  width:1153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1157px;
  height:55px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13097 {
  position:absolute;
  left:202px;
  top:106px;
  width:1157px;
  height:55px;
}
#u13098 {
  position:absolute;
  left:2px;
  top:20px;
  width:1153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u13099 {
  position:absolute;
  left:226px;
  top:126px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u13100 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13101 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:right;
}
#u13102 {
  position:absolute;
  left:216px;
  top:207px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:right;
}
#u13103 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13104 {
  position:absolute;
  left:322px;
  top:193px;
  width:320px;
  height:44px;
}
#u13104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u13105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13105 {
  position:absolute;
  left:322px;
  top:327px;
  width:140px;
  height:40px;
}
#u13106 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u13107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u13107 {
  position:absolute;
  left:502px;
  top:327px;
  width:140px;
  height:40px;
  color:#333333;
}
#u13108 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u13109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u13109 {
  position:absolute;
  left:1327px;
  top:127px;
  width:13px;
  height:14px;
}
#u13110 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13112 {
  position:absolute;
  left:25px;
  top:298px;
  width:14px;
  height:14px;
}
#u13113 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13114 {
  position:absolute;
  left:43px;
  top:298px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u13115 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13116 {
  position:absolute;
  left:25px;
  top:330px;
  width:14px;
  height:14px;
}
#u13117 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13118 {
  position:absolute;
  left:43px;
  top:330px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u13119 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u13120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13120 {
  position:absolute;
  left:25px;
  top:360px;
  width:14px;
  height:14px;
}
#u13121 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13122 {
  position:absolute;
  left:43px;
  top:360px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u13123 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u13124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13124 {
  position:absolute;
  left:25px;
  top:390px;
  width:14px;
  height:14px;
}
#u13125 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13126 {
  position:absolute;
  left:43px;
  top:390px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u13127 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13128 {
  position:absolute;
  left:25px;
  top:420px;
  width:14px;
  height:14px;
}
#u13129 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13130 {
  position:absolute;
  left:43px;
  top:420px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u13131 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13132 {
  position:absolute;
  left:25px;
  top:449px;
  width:14px;
  height:14px;
}
#u13133 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13134 {
  position:absolute;
  left:43px;
  top:449px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u13135 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
